/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

/*web components*/
@import url('components/banner.css');
@import url('components/footer.css');
/*Standard*/
body{
  font-family: 'Raleway', sans-serif;
  height: 100%;

}

h1,h2,h3{
  font-family: 'Open Sans', sans-serif;
}
