@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/*font-family: 'Roboto Slab', serif;
font-family: 'Montserrat', sans-serif;*/

*{
  margin: 0;
  padding:0;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(240,240,240);
}

p{
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4{
  font-family: 'Playfair Display', serif;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

#grid{
  display: grid;
  grid-template-rows: 70px 500px 2900px 50px;
  grid-template-areas: "nav" "header" "content" "footer";
  /*grid-template-columns: 100vw;*/ /*vw - visual width*/
}

.banner{
  grid-area: header;
  color:white;
  background: linear-gradient(135deg,rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 60%),
              url("https://picsum.photos/1000/500?image=60");
  background-size: cover;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.banner-box{
  width: 600px;
  margin-top:300px;
  display: flex;
  flex-direction: column;
  color:black;
  border: 1px solid rgb(240,240,240);
  background-color: rgb(240,240,240);
}

.banner-box-content{
  text-align: center;
  position: relative;
  bottom: 100px;
}

.banner-box-content img{
  width: 200px;
  border: 1px solid black;
  border-radius: 50%;
}

.banner-box-content h1{
  margin-top: 20px;
  font-family: 'Playfair Display', serif;
}

#banner-box-content-p1{
  color:orange;
  margin-top: 20px;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
}

#banner-box-content-p2{
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
}

#banner-box-content-p3{
  margin-top: 20px;
  font-size: 20px;
  color: black;
  font-family: 'Playfair Display', serif;
}

/*navegação do site*/
.nav{
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #FF8C00;
  color:white;
  font-size: 20px;
}

.nav-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

#nav-item-a{
  font-size: 30px;
  color: white;
}

.nav-item .nav-item-content{
  margin-left: 15px;
}

.nav-item .nav-item-content a{
  text-decoration: none;
  color:white;
}

.nav-item .nav-item-content a:hover{
  text-decoration: none;
  color:blue;
}
/*fim da navegação do site*/

/*conteúdo do site*/
.content-present{
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(240,240,240);

}

.content-present-box{
  width:600px;
  padding:50px;
  border: 1px solid lightgrey;
  box-shadow: 10px 10px #E8ECEC;
}

.content-present-box-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-me{
  margin-top:200px;
}

.about-me-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-present-box-title i{
  color:gray;
  font-size: 40px;
  margin-bottom: 20px;
}

.content-present-box-text{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: flex-start;
}

.content-present-box-title h1{
  color:orange;
  font-size: 60px;
  margin-right: 10px;
  margin-bottom: -15px;
}

.content-present-box-title h2{
  color: black;
  font-size: 30px;
}

.about-me-p{
  margin-top: 20px;
}

.about-me-p p{
  margin-top: 10px;
}

.skills{
  margin-top:100px;
}

.content-present-box-text{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: flex-start;
}

.portfolio-content-1{
  margin-top: 20px;
}

.portfolio-content-1 h4{
  font-size:25px;
}

.portfolio-content-1 h5{
  font-size:20px;
  margin-bottom: 10px;
}

.portfolio-content-1 ul{
  font-size:15px;
  margin-left: 25px;
}

.portfolio-content-1 p{
  font-size:15px;
  line-height: 1.8;
}

/*fim conteúdo do site*/

.footer{
  grid-area: footer;
  background: grey;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer a{
  text-decoration:none; color:white;
}

.footer ul li{
  display: inline;
  color:white;
  font-size:30px;
}

@media screen and (max-width:984px){
  .nav{display: flex; justify-content: flex-start;}
  .nav-item .nav-item-content{display: none}
  #nav-item-a{font-size: 30px; color: white; margin-left:20px;}
  .footer{display: flex; justify-content: center; align-items: center;}
  .footer a{margin-right: 20px;}
  .footer ul{margin-left: 20px;}
}
