#my-personal-data{
  width:100%;
  height:40%;
  /*border: 1px solid red;*/
}

#my-personal-data-container{
  width:35%;
  height:400px;
  border:1px solid rgb(240,240,240);
  background-color: rgb(240,240,240);
  /*border: 1px solid green;*/
}

.my-personal-data-item{
  position:relative;
  bottom:100px;
}

.my-personal-data-item h1{
  color:black;
}

.my-personal-data-item a{
  text-decoration:none;
}

#personal-data-item-p1{
  color:orange;
  font-family: helvetica;
  font-size: 30px;
}

#personal-data-item-p2{
  color:black;
}
