@import url('./templates/card-item.css');

.all{
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.title-row{
    height: 5.5rem;
}

.title-row span{
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50;
}

@media screen and (max-width: 640px){
    .all{
        padding-right: 90px;
        padding-left: 90px;
    }

    .title-row{
        justify-content: center;
    }
}