@import url('./templates/card-item.css');

.all{
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.title-row{
    height: 4rem;
}

.title-row span{
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;
}

.tecnologias{
    background-color: #3b5998;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: white;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 5px #888888;
}

.exp-pane{
    color: #2c3e50;
}

.proj-title{
    background-color: #3b5998;
    color: white;
}

@media screen and (max-width: 640px){
    .all{
        padding-right: 60px;
        padding-left: 60px;
    }

    .title-row{
        justify-content: center;
    }

    .title-row span{
        font-size: 1.7rem;
        font-weight: bold;
        color: #2c3e50;
    }
}