.footer{
  grid-area: footer;
  background: grey;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer a{
  text-decoration:none;
  color:white;
  margin-left:10px;
}

.footer ul li{
  display: inline;
  color:white;
  font-size:30px;
}

.footer ul{
  margin-right: 10px;
}
