.main{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.horizontal{
    height: 5.5rem;
}

.horizontal-right{
    background-color: #FFAA44;
}

.horizontal-left{
    background-color: #FFA231;
}

#hamb{
    display: none;
}

@media screen and (max-width: 640px){
    .horizontal span{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1500px){
    #hamb{
        display: block;
    }

    #hamb span{
        font-size: 1.5rem;
        color: white;
    }
}