.main{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.horizontal{
    height: 5.5rem;
}

.horizontal-right{
    background-color: #FFAA44;
}

.horizontal-left{
    background-color: #FFA231;
}