@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body{
  font-family: 'Playfair Display', serif;
  background-color: rgb(240,240,240);
}

#menu{
  background-color: #FF8C00;
  height:70px;
}

#menu div{
  color:white;
  font-size: 20px;
}

#menu div i{
  margin-right:10px;
}

.content{
  border:1px solid lightgrey;
  width:600px;
  padding:50px;
  box-shadow: 10px 10px #E8ECEC;
}

.content i{
  color:gray;
  font-size: 40px;
}

#banner{
  height:500px;
  color:white;
  background: linear-gradient(135deg,rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 60%),
              url("https://picsum.photos/1000/500?image=60");
}

#banner #identification{
  color:black;
  background-color: rgb(240,240,240);
  height: 180px;
}

#banner #identification .row{
  margin-top: -90px;
}

#p1{
  color:orange;
  font-size: 30px;
}

#p2{
  font-size: 20px;
}

#p3{
  font-size: 20px;
  color: black;
}

#banner img{
  width: 200px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  bottom: 100px;
}

#content{
  margin-top: 200px;
}

#footer{
  background: grey;
  color: white;

}

#footer a{
  text-decoration:none;
  color:white;
}

#footer ul li{
  display: inline;
  color:white;
  font-size:30px;
}
