@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@import url('sidebar.css');
@import url('horizontal.css');
@import url('content.css');

*{
  margin: 0;
  padding:0;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #F9F9F9;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

h1,h2,h3,h4{
  font-family: 'Open Sans', sans-serif;
}

.subtitle span{
  font-size: 1.5rem;
  font-weight: bold;
}

.icons img{
  width: 50px;
}

.bColor{
  border: 2px solid red
}

/* .vh{
  height: 100vh;
} */

.vw{
  width: 100vw;
}

