@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@import url('sidebar.css');
@import url('horizontal.css');
@import url('content.css');

*{
  margin: 0;
  padding:0;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #F9F9F9;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

h1,h2,h3,h4{
  font-family: 'Open Sans', sans-serif;
}

.subtitle span{
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
}

.tab-title{
  color: #3F599E !important;
}

.bTable{
  color: #2c3e50;
  background-color: #FFFFFF;
}

.icons img{
  width: 50px;
}

.bColor{
  border: 2px solid red
}

/* .vh{
  height: 100vh;
} */

.vw{
  width: 100vw;
}

.overlay{
  height:100vh;
  width:100%;
  display: none;
  justify-content:center;
  align-items:center;
  color: #3F599E;
  /* background-color:rgba(0, 0, 0, 0.286); */
  background-color: white;
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
}

