.banner{
  height: 75vh;
  color: white;
  margin:0;
  background: linear-gradient(135deg,rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 60%),
              url("https://picsum.photos/1000/500?image=60");
  background-size: cover;
  text-align: center;

  /*Propriedades de flexbox*/
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
}

.banner h1{
  font-size: 50px;
  font-weight: bolder;
  color:orange;
}

.banner p{
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.banner img{
  border-radius: 50%;
}

.banner-content{
  height: 75vh;
  color: white;
  margin:0;
  background: linear-gradient(135deg,rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 60%),
              url("https://picsum.photos/1000/500?image=60");
  background-size: cover;
}

.my-container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.my-container img{
  border-radius: 50%;
}
