.btn-medium{
  color: grey;
  border: 2px solid #C0C0C0;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  opacity : 0.6;
}

.btn-medium:hover{
  opacity : 1;
  text-decoration: none;
  color: black;
}

.btn-acertivo{
  color: white; /*text color*/
  padding: 10px 15px;
  border-radius: 12px;
  background-color: #FF6347;
  font-size: 20px;
}

.btn-acertivo:hover{
  text-decoration: none;
  color: white;
  background-color: #FF0000;
}
