.total-content{
  height:910px;
  width:1800px;
  display: flex;
  align-content: space-around;
}

.content-content{
  display: flex;
  flex-flow: column nowrap;
  flex: 1 100%;
}

.menu{
  height: 80px;
  background: white;
  display: flex;
  justify-content: flex-end;
}

.menu form{
  flex-grow: 1;
}

.navlist{
  padding: 5px;
  margin-left: 60px;
  position: relative;
  top:12px;
}

#menu-img{
  margin:5px;
}

.content{
  flex-grow: 1;
  background: #DCDCDC;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
