.product{
  margin: 10px;
  display:flex;
  align-items: center;
}

.product:hover{
  background: lightgrey;
}

.product-description{
  flex: 1 0 auto;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.product-upvoted{
  padding: 10px;
  text-align: center;
}

.product-controls a{
  font-size: 20px;
  color:grey;
}
