.sidebar-content{
  width: 230px;
  background: #1E90FF;
  display: flex;
  /*flex-direction: column; /*o default para o flex é o row, sempre que é criado*/
  /*row row-reverse column-reverse*/
  /*flex-wrap: nowrap; não permite quebra de linha*/
  /*nowrap wrap*/
  flex-flow: column nowrap; /*define as propriedades de flex-direction e wrap*/
  justify-content: space-around; serve para fazer alinhamento horizontal*/
  /*space-between flex-start flex-end*/
  align-items:stretch; /*alinhamento vertical*/
}
.sidebar-item1{
  display: flex;
}

.sidebar-item2{
  flex-grow: 1; /*aumenta o item selecionado*/
}

.sidebar-item3{
  text-align: center;
}

.sidebar-item3 a{
  color: white !important;
}

.item{
  color: black;
  padding: 20px;
  margin:5px;
}
